.advantages {
  text-align: center;
  background-color: rgb(242, 242, 242);
}

.advantages__title {
  .visually-hidden();
}

.advantages__promo {
  padding-top: 43px;
  text-align: center;
  background-color: #ffffff;
}

.advantages__slogan {
  .container();
  padding-bottom: 29px;
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;

  &--narrow {
    padding-bottom: 35px;
  }
}

.advantages__inner {
  background: rgb(242, 242, 242) url(../img/bg-triangle-white.svg) no-repeat;
  background-size: contain;
}

.advantages__wrapper {
  .container();
  display: flex;
  flex-direction: column;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 80px;
  list-style: none;
  text-align: center;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding-left: 9px;
  padding-right: 9px;
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: bold;
}

.advantages__item-text {
  margin: 0;
}

.advantages__item-photo {
    display: none;
}

.advantages__photo {
  height: 278px;
  overflow: hidden;
}


@media @tablet-widths {
  .advantages__promo {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .advantages__slogan {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;

    &--wide {
      padding-bottom: 0;
    }

    &--narrow {
      padding-bottom: 0;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .advantages__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .advantages__list {
    flex-direction: column;
    width: 320px;
    padding: 0;
    padding-top: 75px;
    text-align: left;

  }

  .advantages__item {
    margin-bottom: 36px;
}

  .advantages__item-title {
    margin: 0;
    margin-bottom: 10px;
  }

  .advantages__photo {
    display: block;
    width: 300px;
  }
}

@media @desktop-widths {
  .advantages__promo {
    padding-top: 77px;
    padding-bottom: 77px;
  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 0;

    &--narrow {
      width: 500px;
    }
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 47px;
    padding-bottom: 47px;
    text-align: center;
  }

  .advantages__item {
    width: 300px;
  }

  .advantages__item-title {
    margin: 0 auto;
    width: 250px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  .advantages__item-text {
    padding: 0 32px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__item-photo {
    display: block;
    order: -1;
    width: 300px;
    height: 280px;
    overflow: hidden;
    margin-bottom: 56px;
    box-shadow: inset 0 -5px 10px -10px #34495e;
  }

  .advantages__photo {
    display: none;
  }
}
