.advantages {
  color: #000000;
  background-color: #ffffff;

  .advantages__title {
    .visually-hidden();
  }

  .advantages__wrapper {
    .inner();
    margin: 0 auto;

    &--grey {
      background-color: rgb(242, 242, 242);;
    }
  }

  .advantages__slogan {
    margin: 50px auto;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    padding-top: 47px;
    padding-bottom: 47px;
    list-style: none;
    text-align: center;
  }

  .advantages__photo {
    text-align: center;
  }
}
