.feedback {
  text-align: center;

  .feedback__title {
    .visually-hidden;
  }

  .feedback__promo {
    font-size: 24px;
  }

  .feedback__contacts-method {
    display: block;
    font-size: 18px;
  }

  .feedback__contacts-text {
    font-size: 24px;
  }
}
