.form {
  display: flex;
  flex-direction: column;
}

.form__promo {
  .container();
  padding-top: 46px;
  margin-bottom: 32px;
  line-height: 30px;
  text-align: center;

  span {
    display: none;
  }
}

.form__group {
  position: relative;
  padding: 0;
  padding-top: 5px;
  border: none;

  &--initials {
    padding-bottom: 20px;
  }

  &--contacts {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &--app {
    background-color: rgb(242, 242, 242);
    padding-top: 45px;
    margin-bottom: 10px;
  }

  &--progress {
    margin-bottom: 0;
    padding-top: 113px;
    background-color: rgb(242, 242, 242);
  }

  &--textarea {
    padding-top: 27px;
    margin-bottom: 28px;
  }

  & > legend {
    display: table;
    width: 230px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 35px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
  }

  > .form__legend--app {
    top: 39px;
  }

  > .form__legend--textarea {
    top: 25px;
  }

  > .form__legend--show {
    display: none;
  }
}

.form__container {
  .container();
}

.form__label {
  display: block;
  padding-left: 22px;
  margin-bottom: 10px;
  color: #d22856;
  text-transform: uppercase;
}

.form__input-text {
  margin-bottom: 23px;
  padding-left: 20px;
  width: 100%;
  height: 63px;
  font-family: @font-family;
  font-size: 18px;
  border: 2px solid #e5e5e5;
}

.form__checkbox {
  display: none;
}

.form__checkbox + .form__checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.form__checkbox-label {
  position: relative;
  display: block;
  margin-bottom: 48px;
  padding-left: 67px;
  font-size: 18px;
  font-weight: normal;
  line-height: 35px;
}

.form__checkbox:checked + .form__checkbox-label::before {
  background: url(../img/icon-checkbox-yes.svg) center no-repeat
}
.form__checkbox + .form__checkbox-label:hover::before {
  border: 2px solid #283645;
}
.form__checkbox + .form__checkbox-label:active::before {
  background: url(../img/icon-checkbox-yes.svg) center no-repeat;
  border: 2px solid #d22856;
}
.form__checkbox:checked + .form__checkbox-label:hover::before {
  border: 2px solid #283645;
}
.form__checkbox:checked + .form__checkbox-label:active::before {
  border: 2px solid #d22856;
}

.form__radio {
  display: none;
}

.form__radio-label {
  display: block;
  font-size: 18px;
  margin-bottom: 51px;
  cursor: pointer;
  &:first-of-type {
    margin-top: 71px;
  }
}

.form__radio + .form__radio-label {
  position: relative;
  padding-left: 70px;
}

.form__radio + .form__radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
  width: 39px;
  height: 39px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.form__radio + .form__radio-label:hover::before {
  border: 2px solid #283645;
}

.form__radio + .form__radio-label:active::before {
  border: 2px solid #d22856;
  background-color: #d22856;
  box-shadow: inset 0px 0px 0 10px #ffffff;
}

.form__radio:checked + .form__radio-label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 12px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  background-color: #d22856;
  border-radius: 50%;
}

.form__textarea {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  min-height: 200px;
  font-family: @font-family;
  resize: none;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid rgb(242, 242, 242);
}

.form__btn {
  display: block;
  width: 280px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  padding: 17px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #00ac6a;
  border: none;

  &--notice {
    margin-bottom: 0;
  }
  &--disabled {
    background-color: #e6e6e6;
  }
  &:hover {
    background-color: #1c9b5e;
  }
  &:active {
    color: rgba(229, 229, 229, 0.3)
  }
}

.form__reminder {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;

  i {
    color: #d22856;
  }

  span {
    display: none;
  }
}

.form__notice {
  position: fixed;
  width: 320px;
  top: 0;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  margin-top: 50px;
  padding-top: 47px;
  display: none;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 13px 15px -5px rgba(0, 0, 0, 0.15);

  &--failure {
    padding-bottom: 50px;
  }
}

.form__inner-notice {
  width: 320px;
  margin: 0 auto;
}

.form__notice-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  margin-bottom: 40px;
}

.form__notice-text {
  width: 265px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 40px;
}

.form__notice-bg {
  padding-top: 48px;
  padding-bottom: 52px;
  background-color: rgb(242, 242, 242);
}

@media @tablet-widths {

  .form {
    flex-wrap: wrap;
    flex-direction: row;
    .container();
  }

  .form__promo {
    width: 510px;
    padding-top: 93px;
    margin-bottom: 75px;
    order: -4;
    font-size: 18px;
    letter-spacing: 0.15px;


    span {
      display: block;
    }
  }

  .form__group {
    border: 1px solid #e5e5e5;
    margin-bottom: 60px;
    padding-top: 0;
    width: 100%;

    &--initials {
      border: none;
      order: -3;
      margin-bottom: 0;
      padding-bottom: 13px;
      padding-left: 0;
      padding-right: 0;

      .form__container {
        width: 100%;
      }
    }

    &--app {
      background-color: #fff;
      order: -2;
      padding-bottom: 9px;
      margin-bottom: 65px;
    }

    &--progress {
      background-color: #fff;
      padding-bottom: 3px;
      padding-top: 53px;
      margin-bottom: 65px;
    }

    &--contacts {
      display: block;
      padding: 48px 46px 10px 44px;
      order: -1;
      margin-bottom: 65px;
    }

    &--textarea {
      .form__container {
        display: flex;
      }
    }

    & > legend {
      top: -15px;
      width: auto;
      padding-left: 31px;
      padding-right: 33px;
      line-height: 30px;
      white-space: nowrap;
      background: white;
    }

    > .form__legend--app {
      top: -15px;
      padding-left: 23px;
      padding-right: 26px;
      letter-spacing: 0.4px;
    }

    > .form__legend--textarea {
      top: -15px;
    }

    > .form__legend--show {
      display: block;
    }
  }

  .form__inner {
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;

    .form__label {
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 0;
      padding-right: 20px;
      height: 59px;
    }
  }

  .form__input-text {
    margin-bottom: 0;
  }

  .form__radio-label {
    display: block;
    font-size: 18px;
    margin-bottom: 52px;
    cursor: pointer;
    &:first-of-type {
      margin-top: 58px;
    }
  }

  .form__radio + .form__radio-label {
    padding-left: 100px;
  }

  .form__radio + .form__radio-label::before {
    margin-right: 0;
    margin-left: 36px;
  }

  .form__radio:checked + .form__radio-label::after {
    left: 48px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  .form__textarea {
    flex-grow: 1;
    width: 496px;
    margin-bottom: 60px;
    margin-left: 33px;
  }


  .form__btn {
    width: 300px;
    margin-left: 0;

    &--notice {
      margin: 0 auto;
    }
  }

  .form__group--contacts {
    .form__inner {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
      .form__label {
        order: 1;
        padding-left: 22px;
      }
    }
  }


  .form__checkbox + .form__checkbox-label::before {
    left: 40px;
  }

  .form__checkbox-label {
    margin-bottom: 48px;
    padding-left: 100px;
    font-size: 18px;
    font-weight: normal;
    line-height: 35px;
  }


  .form__reminder {
    margin-right: 0;
    margin-bottom: 50px;
    line-height: 63px;
    vertical-align: middle;
    text-align: right;
  }

  .form__notice {
    width: 460px;
    box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.15), -7px 7px 15px 0 rgba(0, 0, 0, 0.15);
  }

  .form__notice-title {
    width: 215px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }

  .form__notice-text {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media @desktop-widths {

  .form__promo {
    width: 760px;
    margin-bottom: 80px;
    padding-right: 15px;
    order: -4;
    span {
      display: inline-block;
    }
  }

  .form__group {
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    &--initials {
      width: 450px;
      margin-right: 50px;
      order: -3;
      padding: 0;
      padding-top: 2px;

      .form__container {
        padding-right: 15px;
      }

      .form__inner:last-of-type {
        margin-bottom: 0;
      }

      .form__inner {
        margin-bottom: 55px;
      }

      .form__inner .form__label {
        padding-top: 21px;
        padding-bottom: 21px;
      }

      .form__inner .form__input-text {
        width: 100%;
      }
    }

    &--app {
      width: 440px;
      order: -2;
      padding-bottom: 8px;
      margin-bottom: 66px;
      border: 2px solid #e5e5e5;
    }

    &--contacts {
      width: 100%;
      order: -1;
      padding-top: 42px;
      padding-bottom: 0;
      margin-bottom: 65px;
      border: 2px solid #e5e5e5;

      .form__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: no-wrap;
      }

      .form__inner {
        width: 50%;
        margin-bottom: 0;
        margin-left: 40px;
      }

      .form__label {
        padding-top: 13px;
        padding-bottom: 13px;
        height: 55px;
      }

      .form__input-text{
        width: 371px;
      }
    }

    &--progress {
      min-height: 230px;
      padding-top: 55px;
      margin-bottom: 66px;
      border: 2px solid #e5e5e5;

      .form__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

      }
    }

    &--textarea {
      width: 100%;
      margin-bottom: 66px;
      border: 2px solid #e5e5e5;

      .form__container {
        display: flex;
      }
    }
  }


  .form__radio + .form__radio-label {
    padding-left: 125px;
  }

  .form__radio + .form__radio-label::before {
    margin-right: 0;
    margin-left: 66px;
  }

  .form__radio:checked + .form__radio-label::after {
    left: 78px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }


  .form__checkbox-label {
    position: relative;
    display: block;
    width: 290px;
    margin-bottom: 40px;
    padding-left: 85px;
    font-size: 18px;
    line-height: 39px;
  }

  .form__checkbox + .form__checkbox-label::before {
    left: 33px;
  }

  .form__reminder {
    width: 320px;
    line-height: 56px;
    margin-bottom: 0;
    padding-right: 15px;
    span {
      display: inline-block;
    }
  }

  .form__textarea {
    margin: 0 auto;
    width: 836px;
    flex-grow: 1;
    min-height: 124px;
    height: 124px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
  }

  .form__btn {
    width: 300px;
    margin-bottom: 0;

    &--notice-sent {
      width: 460px;
    }
  }

  .form__notice {
    &--sent {
      width: 780px;
    }
  }

  .form__inner-notice {
    width: 390px
  }

  .form__notice-title {
    &--sent {
      width: auto;
    }
  }
}
