.gallery {
    font-size: 14px;
    color: #283645;

    .gallery__post {
      margin-bottom: 20px;
      .inner();

    }

    .gallery__promo {
      margin: 0;
      padding: 0;
      padding-top: 54px;
      padding-bottom: 39px;
      line-height: 30px;
      font-weight: normal;
      text-align: center;
    }

    .gallery__post-photo {
      font-size: 0;
    }

    .gallery__post-content {
      padding: 30px 15px;
      background-color: rgb(242, 242, 242);
    }

    .gallery__post-author {
      font-style: normal;
      font-weight: bold;
    }

    .gallery__post-date {
      text-transform: uppercase;
    }

    .gallery__post-text {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0;

    }

    .gallery__post-likes {
      color: #d22856;
      text-transform: uppercase;
    }

    .gallery__call-to-action {
      margin: 0 auto;
      padding: 49px 0 32px 0;
      line-height: 30px;
      text-align: center;
    }
}
