.main-nav {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: @font-family;
  font-weight: bold;


  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
  }


  &__item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    & a {
      display: block;
      color: #ffffff;
      text-decoration: none;
    }

  }
}
