.page-header {
  margin: 0;
  padding: 0;
  background-color: #263341;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

    @media @retina {
    background-image: url(../img/bg-back-mobile@2x.jpg);
  }
}

.page-header__title {
  margin: 0;
  .container();
  padding-top: 30px;
  padding-bottom: 80px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;

  &--hide {
    .visually-hidden();
  }

  &--form {
    padding-top: 28px;
    padding-bottom: 52px;
    line-height: 30px;
  }
}

.page-header__photo {
  margin-bottom: -7px;
  padding-top: 108px;
}

@media @tablet-widths {

  .page-header {
    background: url(../img/bg-back-tablet@1x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
      @media @retina {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    }
  }

  .page-header__title {
    padding-bottom: 105px;
    font-size: 50px;
    line-height: 61px;

    &--form {
      padding-top: 67px;
      padding-bottom: 78px;
    }

    &--photo {
      padding-top: 68px;
      padding-bottom: 139px;
    }
  }

  .page-header__photo{
    display: none;
  }
}

@media @desktop-widths {
  .page-header {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: cover;
    background-position: center;

    @media @retina {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    }
  }

  .page-header__title {
    padding-top: 30px;
    padding-bottom: 66px;
    font-size: 50px;

    &--form {
      padding-top: 62px;
      padding-bottom: 100px;
    }

    &--photo {
      padding-top: 62px;
      padding-bottom: 100px;
      width: 360px;
    }
  }
}
