.page-footer {
  .container();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  &--hide {
    display: none;
  }

  &--form {
    padding-top: 48px;
  }
}

.page-footer__logo {
  margin-bottom: 33px;
}

.page-footer__logo-svg {
  width: 150px;
  height: 40px;
  &:hover path {
    fill: #d22856;
  }
  &:active .page-footer__logo-svg-letter {
    fill: #263341;
  }
  &:active {
    opacity: 0.3;
  }
}
.page-footer__logo-desktop {
  display: none;
}

.page-footer__social {
  margin-bottom: 30px;
}

.page-footer__copyright {
  margin-bottom: 30px;
  text-align: center;

  a {
    font-size: 0;
  }

  span {
    padding-right: 10px;
    font-size: 14px;
    line-height: 50px;
    vertical-align: middle;
  }
}

.page-footer__copyright-svg {
  width: 43px;
  height: 50px;
  vertical-align: middle;
  &:hover path {
    fill: #263341
  }
  &:active path {
    fill: #263341;
    opacity: 0.3;
  }
}

@media @tablet-widths {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--hide {
      display: flex;
    }
  }

  .page-footer__logo {
    width: 150px;
    margin-bottom: 35px;
  }

  .page-footer__social {
    display: flex;
    justify-content: center;
    width: 180px;
    flex-grow: 1;
  }


  .page-footer__copyright {
    width: 134px;
    height: 50px;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    font-size: 14px;

    span {
      padding-right: 0;
      line-height: 50px;
      vertical-align: middle;
      font-size: 14px;
    }
  }

  .page-footer__copyright-svg {
    width: 39px;
    height: 50px;
    vertical-align: middle;
  }
}

@media @desktop-widths {
  .page-footer {
    padding: 62px 0;
    justify-content: space-between;

    &--photo {
      padding-top: 102px;
      padding-bottom: 42px;
    }

    &--form {
      padding-top: 72px;
    }
  }

  .page-footer__logo {
    margin-right: 0;
  }

  .page-footer__logo-svg {
    display: none;
  }
  .page-footer__logo-desktop {
    display: block;
  }
  .page-footer__social {
    width: auto;
  }

  .page-footer__copyright {
    width: 150px;
    text-align: right;
    span {
      font-size: 18px;
    }
  }
}
