.page-header {
  margin: 0;
  padding: 0;
  background-color: #263341;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.page-header__title {
  .visually-hidden();
}

