.price {
  background-color: rgb(242, 242, 242);

  .price__wrapper{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .price__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .price__title {
    background-color: rgb(40, 54, 69);
    text-align: center;
    color: #ffffff;
  }

  .price__item-title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .price__value {
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;

  }

  .price__access {
    padding: 22px 6.25% 24px 6.25%;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(229, 229, 229);
  }
}
