.research {
  display: none;
}

@media @tablet-widths {
  .research {
    padding-top: 57px;
    display: block;

    h2 {
      margin: 0;
      margin-top: 25px;
      width: 168px;
      font-size: 30px;
      font-weight: bold;
      line-height: 36px;
      color: #000000;
    }

    p {
      margin: 10px 0;
      font-size: 14px;
      letter-spacing: 0.35px;
      line-height: 24px;
    }
  }
  .research__inner {
    .container();
    padding-left: 309px;
    padding-top: 12px;
    padding-bottom: 77px;
    position: relative;
    &::before {
      content: "24";
      position: absolute;
      left: 0;
      top: 0;
      width: 240px;
      height: 277px;
      background: url(../img/icon-editor-diagram-fill.svg) center 60px no-repeat;
      background-size: 178px 198px;
      font-size: 96px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      line-height: 300px;
      color: rgb(240, 40, 86);
    }
  }
  .research__link {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.35px;
    color: rgb(240, 40, 86);
  }
}

@media @desktop-widths {
  .research {
    padding-top: 5px;
    background-color: rgb(242, 242, 242);

    h2 {
      width: 380px;
      margin-top: 30px;
      margin-bottom: 22px;
    }

    p {
      width: 500px;
      font-size: 18px;
      line-height: 30px;
    }
  }
  .research__inner {
    padding: 60px 0 116px 365px;
    &:before {
      width: 298px;
      height: 345px;
      background-size: 253px 253px;
      background-position: center 70px;
      line-height: 380px;
      font-size: 120px;
    }
  }
  .research__link {
    font-size: 18px;
    margin-top: 34px;
  }
}
