.research {
  display: none;
}

@media @tablet-widths {
  .research {
    padding-top: 57px;
    display: block;
  }
  .research__title {
    margin: 0;
    margin-top: 25px;
    width: 168px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;

    span {
      display: block;
    }
  }

  .research__text {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 24px;

    span {
      display: inline-block;
    }
  }

  .research__inner {
    .container();
    padding-left: 309px;
    padding-top: 12px;
    padding-bottom: 77px;
    position: relative;
    &::before {
      content: "24";
      position: absolute;
      left: 0;
      top: 0;
      width: 240px;
      height: 277px;
      background: url(../img/icon-editor-diagram-fill.svg) center 60px no-repeat, url(../img/icon-timer.svg) center no-repeat;
      background-size: 198px 198px, 240px auto;
      font-size: 96px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      line-height: 300px;
      color: rgb(240, 40, 86);
    }
  }
  .research__link {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.35px;
    color: rgb(240, 40, 86);
  }
}

@media @desktop-widths {
  .research {
    padding-top: 5px;
    background-color: rgb(242, 242, 242);
  }

  .research__title {
    width: 380px;
    margin-top: 30px;
    margin-bottom: 22px;
    span {
      display: inline-block;
      vertical-align: top;
    }
  }

  .research__text {
    width: auto;
    font-size: 18px;
    line-height: 30px;
    span {
      display: inline-block;
      vertical-align: top;
    }
  }

  .research__inner {
    padding: 60px 0 116px 365px;
    &:before {
      width: 298px;
      height: 345px;
      background-size: 253px 253px, 298px auto;
      background-position: center 70px, center;
      line-height: 380px;
      font-size: 120px;
    }
  }
  .research__link {
    font-size: 18px;
    margin-top: 34px;
  }
}
