.reviews {
  margin: 0;
  padding: 0;
  font-family: @font-family;

  &__wrapper {
    .inner();
  }

  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item-title {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
  }


  &__item-description {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

}
